# ============================================================
# VARIABLES DE ENTORNO — ukaro-abastos
# Copiar este archivo a .env y completar los valores
# NUNCA subir .env a GitHub
# ============================================================

# Django
SECRET_KEY=cambiar_esto_genera_una_clave_segura_de_50_caracteres
DEBUG=False
ALLOWED_HOSTS=161.35.142.183,localhost

# Base de datos PostgreSQL
# El host "db" corresponde al servicio en docker-compose.yml
DB_NAME=abastos_db
DB_USER=abastos_user
DB_PASSWORD=cambiar_esto_contrasena_segura
DB_HOST=db
DB_PORT=5432
